main {
    display: flex;
    flex-direction: column;
}

.landing-collage {
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-image-mobile {
    width: 80%;
    display: block;
    padding: 10% 0%;
}

.landing-image-desktop {
    width: 0%;
    display: none;
}

/** LANDING INFO BELOW*/

.landing-info {
    background-color: #2a2a2a;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7%;
}

.landing-info-block {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.landing-text-container {
    width: 100%;
}

#landing-butterflies {
    width: 0%;
    margin-top: 5%;
}

#heart-fresh {
    margin-top: 0%;
    padding: 0%;
    width: 90%;
}

.landing-bullet-points {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bullet-point {
    display: flex;
    width: 90%;
    gap: 5%;
    margin-top: 10%;
}

.bullet-point img {
    max-width: 15%;
    height: 15%;
}

.bullet-point div {
    display: flex;
    flex-direction: column;
}

.bullet-point p {
    margin: 0%;
}

.bullet-point h3 {
    margin: 0%;
}

/**Footer */
.landing-footer {
    background-color: #d03d29;
    width: 100%;
    padding: 5% 0%;
    display: flex;
    justify-content: center;
}

.footer-bullets-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bullet-point {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.footer-bullet-point img {
    max-width: 100%;
    margin-bottom: 7%;
}

.footer-bullet-point h1 {
    margin: 0%;
    text-align: center;
}

.footer-bullet-point h3 {
    margin: 0%;
    text-align: center;
}


/** DESKTOP*/
@media (min-width: 762px) {
    .landing-info {
        background-color: #2a2a2a;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .landing-collage {
        background-color: #f0f0f0;
        width: 100%;
    }

    .landing-image-mobile {
        width: 0%;
        display: none;
    }

    .landing-image-desktop {
        width: 100%;
        display: block;
    }

    /** Info Blocks*/
    .landing-info-block {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    .landing-text-container {
        width: 50%;
    }

    #landing-butterflies {
        width: 30%;
        height: 30%;
        margin-top: 2%;
    }

    #heart-fresh {
        margin-top: 2%;
        width: 65%;
    }

    #landing-pumpkin {
        width: 30%;
        height: 30%;
        margin-top: 2%;
    }

    .landing-bullet-points {
        display: flex;
        flex-direction: row;
        gap: 5%;
    }

    .bullet-point {
        display: flex;
        width: 50%;
        gap: 5%;
        margin-top: 0%;
    }

    .bullet-point img {
        max-width: 25%;
        height: 25%;
    }

    /**Footer*/

    .footer-bullets-container{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-bullet-point {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .footer-bullet-point img {
        max-width: 30%;
        margin-bottom: 7%;
    }
}